<html lang="en">
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href='css/font.css' rel='stylesheet'/>
<link href='css/telugu.css' rel='stylesheet'/>
<link href='css/bg.css' rel='stylesheet'/>
</head>
<body class='main_bg'>
  <header class="header">
    <div class="header_div">
<img src="img/header_bg1.jpg" id="header_img" alt="left"/>
    <span id=#span><b>Bhagavad-Gita</b></span>
  </div>

    <div>  <img src="img/v_bars.png" id="header_bars"  onclick="toggleMenu()"/></div>
  </header>

  <aside id="aside">
    <nav class='animated bounceInDown'>
<ul>

<li><a href='#profile'>Contact</a></li>
<li class='sub-menu'><a href='#Follow'>Follow<div>&#9660;</div></a>
  <ul>
    <li><a href='https://www.facebook.com/iharicharan' target="_self">Facebook</a></li>
    <li><a href='https://github.com/iharicharan'>GitHub</a></li>
    <li><a href='https://www.linkedin.com/in/iharicharan/' target="_self">LinkedIn</a></li>
  </ul>
</li>
<li class='sub-menu'><a href='/history'>Blog<div>&#9660;</div></a>
</li>

</ul>
</nav>
</aside>

  <div class="search">
    <center>
    <input type="text" placeholder="Search Number"  class="search-input"/>
  </center>
  </div>
  <div class='main'>
    <center>
      <%temp.forEach(function(tem){%>
  <section class="title">
    <div>
    <h3><b><%-tem.name%></b></h3>
  </div>
  <div id="center_child">
      <a href="<%=tem.href%>" target="_self" id="child"><button><%-tem.id%></button></a>
      <a href="<%=tem.href2%>" target="_self" id="child"><button><%-tem.id2%></button></a>
</div>
  </section>
  <%})%>
</center>
</div>
<script>
// get input field and add 'keyup' event listener
let searchInput = document.querySelector('.search-input');
searchInput.addEventListener('keyup', search);

let titles = document.querySelectorAll('.main .title');
let searchTerm = '';
let tit = '';

function search(e) {
  searchTerm = e.target.value.toLowerCase();

  titles.forEach((title) => {

    tit = title.textContent.toLowerCase();

    tit.includes(searchTerm) ? title.style.display = 'block' : title.style.display = 'none';
  });
}
</script>
<script>
function toggleMenu() {
  let element = document.querySelector("aside")
element.classList.toggle("active");
}
</script>
<script>
$('.sub-menu ul').hide();
$(".sub-menu a").click(function () {
	$(this).parent(".sub-menu").children("ul").slideToggle("100");
});

</script>
</body>
</html>
