<html lang="en">
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href='css/font.css' rel='stylesheet'/>
<link href='css/telugu.css' rel='stylesheet'/>
<link href='css/bg.css' rel='stylesheet'/>
</head>
<body class='main_bg'>
  <header class="header">
    <div class="header_div">
<img src="img/header_bg1.jpg" id="header_img" alt="left"/>
    <span id=#span><b>Bhagavad-Gita</b></span>
  </div>

    <div>  <img src="img/v_bars.png" id="header_bars"  onclick="toggleMenu()"/></div>
  </header>

  <!--desktop-->
<section class="side">
  <a href="" id="a"><div><img src="img/contact.png" alt="contact"/></div><div id="txt">Contact</div></a>
  <a href="#follow" id="a" onclick="follow()"><div><img src="img/follow.png" alt="follow" /></div><div id="txt">Follow</div></span>
  <a href="/history" id="a"><div><img src="img/books.png" alt="books"/></div><div id="txt">Blog</div></a>
  <a href="" id="a"><div><img src="img/donate.png" alt="follow"/></div><div id="txt">Donate</div></a>
</section>
<!--pop_menu-->
<section class="section_pop_menu" style="display:none">
  <div class="pop_menu">
  <div class="pop_menu_share_btns">
  <a href="https://www.facebook.com/iharicharan" style="width:50px" id="share_img"><img src="img/facebook.gif" style="width:100%" id="share_img" alt=""/></a>
  <a href="https://github.com/iharicharan" style="width:45px;margin-right:8px" id="share_img"><img src="img/github.gif" alt="" style="width:100%" id="share_img"/></a>
  <a href="https://www.linkedin.com/in/iharicharan/" style="width:60px"><img src="img/linkedin.webp"  style="width:100%" alt="" id="share_img"/></a>
</div>
<div class="pop_menu_share_close">
<img src="img/close_bar.png" id="share_close"  onclick="share_close()"/>
</div>
</div>
</section>
  <!--desktop-->


  <aside id="aside">
    <nav class='animated bounceInDown'>
<ul>

<li><a href='#profile'>Contact</a></li>
<li class='sub-menu'><a href='#Follow'>Follow<div>&#9660;</div></a>
  <ul>
    <li><a href='https://www.facebook.com/iharicharan' target="_self">Facebook</a></li>
    <li><a href='https://github.com/iharicharan'>GitHub</a></li>
    <li><a href='https://www.linkedin.com/in/iharicharan/' target="_self">LinkedIn</a></li>
  </ul>
</li>
<li class='sub-menu'><a href='/history'>Blog<div>&#9660;</div></a>
</li>

</ul>
</nav>
</aside>

<div class="search">
  <center>
  <input type="text" placeholder="Search Number"  class="search-input"/>
</center>
</div>
  <div class='main'>

      <%temp.forEach(function(tem){%>
  <section class="title">
    <div>
    <h3><b><%-tem.name%></b></h3>
  </div>
  <div id="center_child">
      <a href="<%=tem.href%>" target="_self" id="child"><button><%-tem.id%></button></a>
      <a href="<%=tem.href2%>" target="_self" id="child"><button><%-tem.id2%></button></a>
</div>
  </section>

  <%})%>
    <br></br>
</div>
<script>
 function follow(){
   let x=document.getElementsByClassName('section_pop_menu')[0];
   x.style.display="block";
 }
 function share_close(){
   let x=document.getElementsByClassName('section_pop_menu')[0];
   x.style.display="none";
 }
</script>
<script>
// get input field and add 'keyup' event listener
let searchInput = document.querySelector('.search-input');
searchInput.addEventListener('keyup', search);

let titles = document.querySelectorAll('.main .title');
let searchTerm = '';
let tit = '';

function search(e) {
  searchTerm = e.target.value.toLowerCase();

  titles.forEach((title) => {

    tit = title.textContent.toLowerCase();

    tit.includes(searchTerm) ? title.style.display = 'block' : title.style.display = 'none';
  });
}

function toggleMenu() {
  let element = document.querySelector("aside")
element.classList.toggle("active");
}
</script>
<script>
$('.sub-menu ul').hide();
$(".sub-menu a").click(function () {
	$(this).parent(".sub-menu").children("ul").slideToggle("100");
});
</script>
<script>
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('/sw.js')
           .then(function() { console.log("Service Worker Registered"); });
}
</script>
</body>
</html>
